<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>joseafonso.</title>
        <meta name="description" content="joseafonso, the web artist !!!">
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
        <link rel="stylesheet" href="css/style.css">
        <!-- IMPORTANT -->
        <link rel="stylesheet" href="css/mod_style.css">
    </head>

    <body id="body" onload="startJs()">
        
        <div id="app">
            <ul id="menu">
                <p id="info-zone" v-for="text in info_about">{{text.message}}<span id="anim"></span></p>
                <li v-bind:id="menus.item" v-for="menus in menu_items_about">
                  <span class="alignLeft">+</span><span class="alignRight">{{menus.item}}</span>
                </li>
            </ul>
        </div>
        
        <script src="js/data.js"></script>
        <script src="js/script_about.js"></script>
        
        

    </body>
</html>